.image_horizontal { margin-bottom:15px; }
.st-content .formula img { width:50%; max-width:50%; border-right:none; border-bottom:none; margin-bottom:15px }
.mapa_conceptual a { text-decoration:none; }
.autoevaluacion a { text-decoration:none; }
.ejercitacion_libre a { text-decoration:none; }
.list02 p { font-weight:normal; font-size:13px; line-height:18px; padding-top:10px; } 
.profundiza { margin-bottom:15px; }
.practica { margin-bottom:15px; }
.recuerda { margin-bottom:15px; }
.media { margin-bottom:15px; }
.nota { margin-bottom:15px; }
.destacado { margin-bottom:15px; }
.websref { margin-bottom:45px; }
