.MainTitle {
    text-align: center;
    font-size: 34px;
    vertical-align: middle;
    line-height: 100px;
		background-color: transparent;
    overflow: hidden;
}

.MainBk {
    background-color: white;
}


.slideStyle {
    background-color: white;
}

.slideText {
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
	background-color: transparent;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
	padding-right: 20px;
}

.popupPie {
		text-align: center;
		font-family: Verdana, Arial, sans-serif;
		font-size: 20px;
}

.popupCloseButton {
    background: transparent url("../images/btnclose35.svg") no-repeat;
}

.popupOpenButton {
    background: transparent url("../images/btnopen35.svg") no-repeat;
}

